<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <username>gismuitsm-local</username>
            <password>h7j7c;Zc:_</password>
            <id>artifactory</id>
        </server>
        <server>
            <username>gismuitsm-local</username>
            <password>h7j7c;Zc:_</password>
            <id>snapshots</id>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <name>central-mirror</name>
            <url>https://toolset.phoenixit.ru/artifactory/gismugeo-release</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory</id>
                    <name>gismugeo-release</name>
                    <url>https://toolset.phoenixit.ru/artifactory/gismugeo-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>gismugeo-snaphot</name>
                    <url>https://toolset.phoenixit.ru/artifactory/gismugeo-snaphot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>artifactory</id>
                    <name>gismugeo-release</name>
                    <url>https://toolset.phoenixit.ru/artifactory/gismugeo-release</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
        <!-- данные для логина в sonarqube, перенесены из .gitlab-ci.yml -->
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://172.25.16.61:9000</sonar.host.url>
                <sonar.login>2ce487971df6e202bed5f9002452b268947b162a</sonar.login>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <!-- Добавлена группа плагинов согласно документации sonarqube 3.9 -->
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
</settings>